<p>studreactive works!</p>
<div class="container mx-auto px-4">

  <div>
    <p class="text-xl font-bold mb-4">Student List Using Reactive Form</p>
  
        <!-- Dialog box -->
      <section class="mat-button-container">
        <div class="example-button-row">
  
          <button mat-raised-button color="accent" (click)="showPrompt()">
            Add Student
          </button>
        </div>
      </section>
 
    
    <!-- Search area and city Start -->
    <form [formGroup]="formsearch" (ngSubmit)="searchCA(formsearch)">
      <!-- Area -->
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2">Area</label>
        <ng-select
          [items]="uniqueAreas"
          formControlName="area"
          placeholder="Select Area"
          class="shadow border rounded w-full py-2 px-3"
          [searchable]="true">
        </ng-select>
      </div>
    
      <!-- City -->
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2">City</label>
        <ng-select
          [items]="uniqueCities"
          formControlName="city"
          placeholder="Select City"
          class="shadow border rounded w-full py-2 px-3"
          [searchable]="true">
        </ng-select>
      </div>
    
      <!-- Validation Message -->
      <div *ngIf="formsearch.errors?.['atLeastOne'] && (formsearch.touched || formsearch.dirty)" class="text-red-500 text-sm mb-4">
        Please select at least Area or City.
      </div>
    
      <!-- Buttons -->
      <div class="flex items-center justify-between">
        <button type="submit" [disabled]="formsearch.invalid"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          Submit
        </button>
        <button type="button" (click)="resetSearch()"
          class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
          Reset
        </button>
      </div>
    </form>
  </div>

    <div>
      <!-- Student Table -->
    <table class="min-w-full bg-white border border-gray-200">

      <thead>
        <tr class="bg-gray-100 border-b">
          <th class="py-2 px-4 border-r">Id</th>
          <th class="py-2 px-4 border-r">Name</th>
          <th class="py-2 px-4 border-r">Age</th>
          <th class="py-2 px-4">Department</th>
          <th class="py-2 px-4">Mobile</th>
          <th class="py-2 px-4">Teachers</th>
          <th class="py-2 px-4">Address</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students" class="border-b hover:bg-gray-50">
          <td class="py-2 px-4 border-r" style="text-align: center">
            {{ student.id }}
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            {{ student.name }}
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            {{ student.age }}
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            {{ student.department? student.department.name:'' }}

          </td>
        
          <td class="py-2 px-4 border-r" style="text-align: center">
            <span *ngFor="let num of student.mobileNumbers; let i = index">
              {{ num.mobileNumber }}
              <span *ngIf="i !== student.mobileNumbers.length - 1">, </span>
            </span>
          </td>

          <td class="py-2 px-4 border-r" style="text-align: center">
            <span *ngFor="let num of student.teachers; let i = index">
              {{ num.name }}<span *ngIf="i !== student.teachers.length - 1">, </span>
            </span>

          </td>

          <td class="py-2 px-4 border-r" style="text-align: center">
            <span *ngFor="let add of student.addresses; let i = index">
              {{ add.area }},{{ add.city }},{{add.pincode }}
              <span *ngIf="i !== student.addresses.length - 1">,  </span>
            </span>
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            <button
              (click)="delete(student.id)"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
            >
              Delete
            </button>
          </td>
          <td class="py-2 px-4 border-r" style="text-align: center">
            <!-- <button
              (click)="update(student.id)"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 border-r"
              style="text-align: center"
            >
              Update
            </button> -->
            <button mat-raised-button color="primary" (click)="update(student.id)">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>

     <!-- Paginator -->
   <mat-paginator
   [length]="totalStudents"
   [pageSize]="pageSize"
   [pageSizeOptions]="[2,5, 10, 20]"
   (page)="onPageChange($event)">
 </mat-paginator>
    </div>


  
    
   
  </div>