<div class="container mx-auto p-4">
  <form
    (ngSubmit)="onSubmit()"
    class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        name="name"
        type="text"
        placeholder="Enter the Name"
        [(ngModel)]="student.name"
        required
      />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="age">
        Age
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="age"
        name="age"
        type="number"
        placeholder="Enter the Age"
        [(ngModel)]="student.age"
        required
      />
    </div>

    <div class="mb-6">
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="department"
      >
        Department
      </label>
    
      <ng-select
        [items]="departments"
        bindLabel="name"
        bindValue="id"
        name="first"
        (change)="selectDepartment($event)"
        placeholder="Select Department"
        [(ngModel)]="student.department"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required
      >
      </ng-select>
      <!-- <ng-select [(ngModel)]="selectedDepartment" (change)="selectDepartment($event)">
        @for (department of departments; track department.id) {
            <ng-option  [value]="department.id">{{department.name}}</ng-option>
        }
    </ng-select> -->

    <div style="margin-top:100px"></div>
    </div>
    

    <div class="flex items-center justify-between">
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
